@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/";
@import "pages/";

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-green-500 text-white
}